{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "decorators": true,
      "dynamicImport": true,
      "syntax": "typescript"
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "minify": false,
  "sourceMaps": true
}
